<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSUserActivityTypes</key>
	<array>
		<string>MySimpleIntentIntent</string>
		<string>RecordDisplayIntent</string>
		<string>RecordEndIntent</string>
		<string>RecordNormalStartIntent</string>
		<string>RecordPauseIntent</string>
		<string>RecordResumeIntent</string>
		<string>RecordStartIntent</string>
	</array>
</dict>
</plist>
